<div class="header">
    <div class="app-name">
        <button (click)="toggleSidebar()" class="dashboard-toggle-btn">
            <i class="fas fa-bars"></i>
        </button>
        <span>AgriSmart</span>
    </div>
    <div class="navigation">
        <div class="nav-item" (mouseover)="showDropdown('dashboardDropdown')" (mouseout)="hideDropdown('dashboardDropdown')">
            <span>Farmer Dashboard</span>
            <div id="dashboardDropdown" class="dropdown-content">
                <a routerLink="/profile">Profile</a>
                <a routerLink="/crop-tracking">Crop Tracking</a>
                <a routerLink="/weather">Weather Widget</a>
                <a routerLink="/recommendations">Recommendations</a>
            </div>
        </div>
        <div class="nav-item" (mouseover)="showDropdown('knowledgeHubDropdown')" (mouseout)="hideDropdown('knowledgeHubDropdown')">
            <span>Knowledge Hub</span>
            <div id="knowledgeHubDropdown" class="dropdown-content">
                <a routerLink="/knowledge-hub/articles">Articles</a>
                <a routerLink="/knowledge-hub/expert-advice">Expert Advice</a>
                <!-- <a routerLink="/knowledge-hub/resources">Resources</a> -->
                <a routerLink="/knowledge-hub/faq">FAQ</a>
            </div>
        </div>
        <div class="nav-item" (mouseover)="showDropdown('marketplaceDropdown')" (mouseout)="hideDropdown('marketplaceDropdown')">
            <span>Marketplace</span>
            <div id="marketplaceDropdown" class="dropdown-content">
                <a routerLink="/marketplace/products">Products</a>
                <a routerLink="/marketplace/transactions">Transactions</a>
            </div>
        </div>
        <div class="nav-item" (mouseover)="showDropdown('communityDropdown')" (mouseout)="hideDropdown('communityDropdown')">
            <span>Community Collaboration</span>
            <div id="communityDropdown" class="dropdown-content">
                <a routerLink="/community/forums">Forums</a>
            </div>
        </div>
    </div>
    <div class="user-info">
        <img [src]="userImage" alt="Profile Picture" class="profile-pic">
        <span class="user-name">{{ userName }}</span>
        <div class="dropdown">
            <button class="dropdown-toggle">
                <i class="fas fa-caret-down"></i>
            </button>
            <div class="dropdown-menu">
                <a href="/profile" class="dropdown-item">Settings</a>
                <a href="#" class="dropdown-item" (click)="onLogout()">Logout</a>
            </div>
        </div>
    </div>
</div>
