<!-- <div class="welcome-container">
  <div class="welcome-content">
    <h1 class="welcome-title">Welcome to AgriSmart</h1>
    <p class="welcome-description">
      Empowering farmers with smart solutions for a sustainable future.
    </p>
    <div class="chevron-container">
      <button class="chevron-btn" (click)="navigateToSignup()">&#8964;</button>
      <button class="chevron-btn" (click)="navigateToSignup()">&#8964;</button>
      <button class="chevron-btn" (click)="navigateToSignup()">&#8964;</button>
    </div>
  </div>
</div> -->
