/* Global Styles */
:root {
    --theme-color: #007200;
    --alternate-color: #008000;
    --faded-grey: #333;
    --white: #fff;
}
body {
    height: 100vh;
    /* width: 100vw; */
    padding: 0;
    margin: 0;
    color: #333; /* Dark text for good readability */
/*    font-family: Arial, sans-serif; /* Clean, modern font */
    /* background-color:rgb(125, 160, 189); */

}

/* Ensure that all elements fit within the viewport */
html, body {
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll */
}
