<div class="product-list-container">
    <div class="filters">
        <app-search-bar (search)="onSearch($event)"></app-search-bar>
        <!-- <app-filter (filterChange)="onFilterChange($event)"></app-filter> -->
        <select (change)="onSortChange($event.target.value)" class="sort-select">
            <option value="">Sort By</option>
            <option value="priceLowHigh">Price: Low to High</option>
            <option value="priceHighLow">Price: High to Low</option>
            <option value="nameAsc">Name: A to Z</option>
            <option value="nameDesc">Name: Z to A</option>
        </select>
    </div>

    <div class="product-grid">
        <app-productitem *ngFor="let product of filteredProducts" [product]="product">
            </app-productitem>
    </div>
</div>