<div class="container">

  <div class="wrapper">
    <h1> signup form </h1>

    <form>
      
      <div class="form-group">
        <input type="text" name="name" placeholder="Enter username">
        <i class='bx bxs-user'></i>
      </div>
      
      
      <div class="form-group">
        <input type="email" name="email" placeholder="Enter email">
        <i class='bx bxs-envelope'></i>
      </div>


      <div class="form-group">
        <input type="password" name="password" placeholder="Enter password">
        <i class='bx bxs-lock-alt' ></i>
      </div>

      <div class="form-role">
        <label for="role"> Select a role </label>
        <section>
          <label>
          <input type="radio" name="role" value="farmer"> Farmer  
            <i class='bx bxs-leaf'></i>
          </label>
          <label>
          <input type="radio" name="role" value="buyer"> Buyer
            <i class='bx bxs-store-alt'></i>
          </label>
        </section>
      </div>

      <div class="forgot-password">
        <a href="#"> Forgot Password? </a>
      </div>

      <button class="btn"> signup </button>

      <div class="register-link">
        Already have an account? <a href="#"> login </a> instead
      </div>

    </form>

  </div>
</div>
