<div class="container">

  <div class="background">
    <h2> signup form </h2>
    <form>
      
      <div class="form-group">
        <label for="name"> username </label>
        <input type="text" name="name">
      </div>
      
      
      <div class="form-group">
        <label for="email"> email </label>
        <input type="email" name="email">
      </div>


      <div class="form-group">
        <label for="password"> password </label>
        <input type="password" name="password">
      </div>

      <div class="form-group">
        <label for="role"> Select a role </label>
        <section>
          <input type="radio" name="role" value="farmer"> Farmer
          <input type="radio" name="role" value="buyer"> Buyer  
        </section>
      </div>

      <div class="form-group">
        <button> signup </button>
        <section>
          Already have an account? <a href="#"> login </a> instead.
        </section>
      </div>

    </form>

  </div>
</div>
